* {font-family: 'Courier New', Courier, monospace;}
body {
    text-align: center;
    margin: auto;
    background-color: rgba(1, 1, 1, 0.1);
    padding: 10rem;
}

input {
    padding: 1rem;
    margin: 1em;
    background-color: rgba(1, 1, 1, 0.1);
    outline: none;
}

button {
    margin: 1em;
    padding: .5em 1em;
    background-color: rgb(163, 91, 91);
}