
html
	head
		title Test Server
		style
			include ../public/css/index.css
	body
		h1 Hello!
		p This is a test server! In the console you can see the javascript file output, and we also have styling!
		a(href="https://github.com/glaukiol1") GitHub
		script(src="/js/index.js")

