
html
	head
		title Gaga Bank
		style
			include ../public/css/index.css
	body
		#main
			h1 Gaga Bank 
			h3 Log In 
			input#docidnr(type="text" placeholder="Document ID number")
			br
			input#password(type="password" placeholder="Password")
			br
			button#submit Submit
		script(src="/js/index.js")

